body, html {
    font-family: helvetica;
    font-size: 14px;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    /*background-color: #150d3d;*/

    background: #1e2b34; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1e2b34, #1f2d37); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1e2b34, #1f2d37);
}

#cy {
    background: #1e2b34;
   border-radius: 20px;
    height:300px;
    left: 0;
    top:20;
    z-index: 999;
}